<ion-view view-title="Babytracker">
  <ion-content padding="true">
    <h1>Over babytracker</h1>
    <p>
      BabyTracker is tot stand gekomen uit een project voor het vak Web & Mobile Development. De applicatie is gebouwd door
      <a href="mailto:vanduysebert@gmail.com">Bert Van Duyse</a>
      met als doel de informatie van baby's op een overzichtelijke manier te tonen aan de verschillende volgers van de baby.
    </p>
    <p>
      Het doelpubliek zijn jonge ouders, meters, peters, grootouders en verzorgers van het kind, die op deze manier een overzicht krijgen van de vorderingen van het kind, wanneer het niet bij hen aanwezig is.
    </p>
  </ion-content>
</ion-view>
