<ion-view view-title="Volgverzoeken">
  <ion-content padding="true" has-header="true">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-change="req.searchChildren()" ng-model="req.search" placeholder="Zoek kinderen" type="search">
      </label>
    </div>


    <ion-list>
    <li class="item" ng-if="req.search && req.childrenFound.length == 0">
      Geen kind gevonden
    </li>
    <ion-item class="item-button-right fade-in" ng-class="{'item-avatar': child.profileImage}" ng-repeat="child in req.childrenFound">

      <img ng-if="!child.photoInDatabase" ng-src="{{child.profileImage}}">
      <img ng-if="child.photoInDatabase" ng-src="data:image/jpeg;base64,{{child.profileImage}}">
      <h2>{{child.firstName}}
        {{child.lastName}}</h2>

      <button class="button button-calm" ng-if="!child.isInvited" on-tap="req.inviteChild(child, $index)">Uitnodigen</button>
      <button class="button button-calm button-outline" ng-if="child.isInvited" on-tap="req.unInviteChild(child, $index)">Uitgenodigd</button>
    </ion-item>
  </ion-list>

  <div class="card">
    <div class="item item-divider item-calm">
      Volgverzoeken
    </div>
    <div class="item" ng-if="req.requests.length == 0 && req.invites.length == 0">
      Geen hangende verzoeken
    </div>
    <!-- TODO: volgverzoeken aanvaarden -> na het aanmaken van verzoeken via gebruikers -->
    <div class="item item-divider item-stable" ng-if="req.requests.length > 0">
      <h4>Ontvangen</h4>
    </div>
    <ion-list can-swipe="true" ng-if="req.requests.length > 0">
      <ion-item class="item-button-right item-text-wrap fade-in" ng-class="{'item-avatar': child.profileImage}" ng-repeat="child in req.requests">
        <img ng-if="!child.photoInDatabase" ng-src="{{child.profileImage}}">
        <img ng-if="child.photoInDatabase" ng-src="data:image/jpeg;base64,{{child.profileImage}}">
        <h2>{{child.name}}</h2>
        <h3>Relatie:
          {{child.role.nl}}</h3>
        <ion-option-button class="button-assertive ion-minus-circled" ng-click="req.rejectRequest(child, $index)"></ion-option-button>
        <ion-option-button class="button-balanced ion-ios-heart" on-tap="req.acceptRequest(child, $index)">Aanvaarden</ion-option-button>
      </ion-item>
    </ion-list>

    <div class="item item-divider item-stable" ng-if="req.invites.length > 0">
      <h4>Verstuurd</h4>
    </div>
    <ion-list ng-if="req.invites.length > 0">
      <div class="item" ng-if="follow.invitedUsers.length == 0">
        Geen verstuurd
      </div>
      <ion-item class="item-button-right fade-in" ng-class="{'item-avatar': child.profileImage}" ng-repeat="child in req.invites">
        <img ng-if="!child.photoInDatabase" ng-src="{{child.profileImage}}">
        <img ng-if="child.photoInDatabase" ng-src="data:image/jpeg;base64,{{child.profileImage}}">
        <h2>{{child.name}}</h2>
        <h3>Relatie:
          {{child.role.nl}}</h3>
        <button class="button button-calm button-outline" on-tap="req.unInviteChild(child, $index)">Uitgenodigd</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
</ion-view>
