<div class="modal">

  <ion-header-bar class="bar-energized">
    <h1 class="title">Paswoord wijzigen</h1>
  </ion-header-bar>
  <ion-content>
    <form name="newPasswordForm" novalidate="true">
      <div class="list">
        <label class="item item-input item-floating-label animated" ng-class="{'shake errorForm': (newPasswordForm.emailUser.$invalid && newPasswordForm.emailUser.$touched), 'successForm': (newPasswordForm.emailUser.$valid && newPasswordForm.emailUser.$dirty)}">
          <span class="input-label">Email</span>
          <input required placeholder="Email" ng-model="user.email" name="emailUser" type="email">
          <div role="alert" class="animated zoomIn error-block" ng-messages="newPasswordForm.emailUser.$error" ng-if="newPasswordForm.emailUser.$touched && newPasswordForm.emailUser.$error">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <label class="item item-input item-floating-label animated" ng-class="{'shake errorForm': (newPasswordForm.oldPasswordUser.$invalid && newPasswordForm.oldPasswordUser.$touched), 'successForm': (newPasswordForm.oldPasswordUser.$valid && newPasswordForm.oldPasswordUser.$dirty)}">
          <span class="input-label">Huidig paswoord</span>
          <input required placeholder="Huidig paswoord" ng-model="user.oldPassword" name="oldPasswordUser" type="password">
          <div role="alert" class="animated zoomIn error-block" ng-messages="newPasswordForm.oldPasswordUser.$error" ng-if="newPasswordForm.oldPasswordUser.$touched">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <label class="item item-input item-floating-label animated" ng-class="{'shake errorForm': (newPasswordForm.passwordUser.$invalid && newPasswordForm.passwordUser.$touched), 'successForm': (newPasswordForm.passwordUser.$valid && newPasswordForm.passwordUser.$dirty)}">
          <span class="input-label">Nieuw paswoord</span>
          <input required placeholder="Nieuw paswoord" ng-model="user.newPassword" name="passwordUser" type="password">
          <div role="alert" class="animated zoomIn error-block" ng-messages="newPasswordForm.passwordUser.$error" ng-if="newPasswordForm.passwordUser.$touched">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <label class="item item-input item-floating-label animated" ng-class="{'shake errorForm': (newPasswordForm.passwordRepeat.$invalid && newPasswordForm.passwordRepeat.$touched), 'successForm': (newPasswordForm.passwordRepeat.$valid && newPasswordForm.passwordRepeat.$dirty)}">
          <span class="input-label">Herhaal paswoord</span>
          <input required ng-disabled="newPasswordForm.passwordUser.$pristine" bt-compare-to="user.newPassword" placeholder="Herhaal paswoord" name="passwordRepeat" ng-model="user.passwordConfirm" type="password">
          <div role="alert" class="animated zoomIn error-block" ng-messages="newPasswordForm.passwordRepeat.$error" ng-if="newPasswordForm.passwordRepeat.$dirty">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <p class="errorMessage">
          {{errMess}}
        </p>
        <div class="button-bar">
          <button class="button button-assertive icon-left ion-ios-close" on-touch="closeModal()">

            Annuleer</button>
          <button class="button button-balanced icon-left ion-ios-download" ng-disabled="newPasswordForm.$invalid" on-touch="changePassword()">
            Wijzig paswoord</button>
        </div>

      </div>
    </form>
  </ion-content>
</div>
