<ion-view view-title="Activiteit toevoegen">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content has-footer="true" has-header="true">
    <form name="entertainmentForm" novalidate="true">
      <div class="list card">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Titel</span>
          <input name="title" required ng-model="ent.title" type="text">
          <div role="alert" class="animated zoomIn error-block" ng-messages="entertainmentForm.title.$error" ng-if="entertainmentForm.title.$dirty">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <div class="item item-body" ng-if="ent.photoUrl">
          <img class="full-image" ng-src="data:image/jpeg;base64,{{ent.photoUrl}}">
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Activiteit</span>
          <textarea name="subject" required ng-model="ent.subject"></textarea>
          <div role="alert" class="animated zoomIn error-block" ng-messages="entertainmentForm.subject.$error" ng-if="entertainmentForm.subject.$dirty">
            <div ng-messages-include= "templates/partials/errorMessages.html"></div>
          </div>
        </label>
        <div class="item">
          <button class="button button-full button-positive icon-left ion-ios-camera-outline" on-tap="ent.addPhoto()">Foto bijvoegen</button>
        </div>
      </div>
      <div class="button button-full button-balanced" on-tap="ent.addActivity(entertainmentForm)" ng-disabled="entertainmentForm.$invalid">
        Plaats
      </div>
    </form>
    <div class="lowerContent">

    </div>
  </ion-content>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Tijdlijn" ui-sref="child.posts"></ion-tab>
    <ion-tab icon-off="ion-ios-body-outline" icon-on="ion-ios-body" title="Profiel" ui-sref="child.profile"></ion-tab>
    <!-- TODO: add badge voor volgverzoeken (via ChirldCtrl) -->
    <ion-tab badge-style="badge-assertive" badge="badges.followRequests" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" ui-sref="child.followers"></ion-tab>
    <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" title="Acties" ui-sref="child.actions"></ion-tab>
  </ion-tabs>
</ion-view>
