<ion-view view-title="Mijlpalen">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content has-header="true">
    <div class="calm-bg">

      <div class="item item-divider item-calm">
        3-6 maand
      </div>
      <div class="row">
        <div class="col mileStoneGrid center">
          <a class="" on-tap="mile.setSenses6()"><img src="img/iconSenses3_6.png">
          </a>
        </div>
        <div class="col mileStoneGrid">
          <a class="" on-tap="mile.setSocial6()"><img src="img/iconSocial6.png">
          </a>
        </div>
        <div class="col mileStoneGrid">
          <a class="" on-tap="mile.setFood6()"><img src="img/iconFood6.png">
          </a>
        </div>
      </div>
      <div ng-if="mile.showSenses6">
        <div class="list animated" ng-class="{'flipInX': mile.showSenses6, 'flipOutX': !mile.showSenses6}" ng-show="mile.showSenses6">
          <h3 class="padding white-text">Motoriek en zintuigen</h2>
        <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.sensesMilestones6">
          <label class="checkbox">
            <input ng-change="mile.changeStone(stone, mile.sensesMilestones6)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
          </label>
          {{stone.nl}}
          <h4>
            <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
          </h4>
        </li>
      </div>
    </div>

    <div ng-if="mile.showSocial6">
      <div class="list animated" ng-class="{'flipInX': mile.showSocial6, 'flipOutX': !mile.showSocial6}" ng-show="mile.showSocial6">
        <h3 class="padding white-text">Sociaal en kennen</h2>
        <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.socialMilestones6">
          <label class="checkbox">
            <input ng-change="mile.changeStone(stone, mile.socialMilestones6)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
          </label>
          {{stone.nl}}
          <h4>
            <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
          </h4>
        </li>
      </div>
    </div>

    <div ng-if="mile.showFood6">
      <div class="list animated" ng-class="{'flipInX': mile.showFood6, 'flipOutX': !mile.showFood6}" ng-show="mile.showFood6">
        <h3 class="padding white-text">Voeding en zindelijkheid</h2>
        <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.foodMilestones6">
          <label class="checkbox">
            <input ng-change="mile.changeStone(stone, mile.foodMilestones6)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
          </label>
          {{stone.nl}}
          <h4>
            <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
          </h4>
        </li>
      </div>
    </div>

  </div>
  <div class="dark-bg">

    <div class="item item-divider item-dark">
      6-9 maand
    </div>
    <div class="row">
      <div class="col mileStoneGrid center">
        <a class="" on-tap="mile.setSenses9()"><img src="img/iconSenses9.png">
        </a>
      </div>
      <div class="col mileStoneGrid">
        <a class="" on-tap="mile.setSocial9()"><img src="img/iconSocial9.png">
        </a>
      </div>
      <div class="col mileStoneGrid">
        <a class="" on-tap="mile.setFood9()"><img src="img/iconFood9.png">
        </a>
      </div>
    </div>
    <div ng-if="mile.showSenses9">
      <div class="list animated" ng-class="{'flipInX': mile.showSenses9, 'flipOutX': !mile.showSenses9}" ng-show="mile.showSenses9">
        <h3 class="padding white-text">Motoriek en zintuigen</h2>
      <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.sensesMilestones9">
        <label class="checkbox">
          <input ng-change="mile.changeStone(stone, mile.sensesMilestones9)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
        </label>
        {{stone.nl}}
        <h4>
          <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
        </h4>
      </li>
    </div>
  </div>

  <div ng-if="mile.showSocial9">
    <div class="list animated" ng-class="{'flipInX': mile.showSocial9, 'flipOutX': !mile.showSocial9}" ng-show="mile.showSocial9">
      <h3 class="padding white-text">Sociaal en kennen</h2>
      <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.socialMilestones9">
        <label class="checkbox">
          <input ng-change="mile.changeStone(stone, mile.socialMilestones9)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
        </label>
        {{stone.nl}}
        <h4>
          <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
        </h4>
      </li>
    </div>
  </div>

  <div ng-if="mile.showFood9">
    <div class="list animated" ng-class="{'flipInX': mile.showFood9, 'flipOutX': !mile.showFood9}" ng-show="mile.showFood9">
      <h3 class="padding white-text">Voeding en zindelijkheid</h2>
      <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.foodMilestones9">
        <label class="checkbox">
          <input ng-change="mile.changeStone(stone, mile.foodMilestones9)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
        </label>
        {{stone.nl}}
        <h4>
          <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
        </h4>
      </li>
    </div>
  </div>

</div>
<div class="positive-bg">

  <div class="item item-divider item-positive">
    9-12 maand
  </div>
  <div class="row">
    <div class="col mileStoneGrid center">
      <a class="" on-tap="mile.setSenses12()"><img src="img/iconSenses12.png">
      </a>
    </div>
    <div class="col mileStoneGrid">
      <a class="" on-tap="mile.setSocial12()"><img src="img/iconSocial12.png">
      </a>
    </div>
    <div class="col mileStoneGrid">
      <a class="" on-tap="mile.setFood12()"><img src="img/iconFood12.png">
      </a>
    </div>
  </div>
  <div ng-if="mile.showSenses12">
    <div class="list animated" ng-class="{'flipInX': mile.showSenses12, 'flipOutX': !mile.showSenses12}" ng-show="mile.showSenses12">
      <h3 class="padding white-text">Motoriek en zintuigen</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.sensesMilestones12">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.sensesMilestones12)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

<div ng-if="mile.showSocial12">
  <div class="list animated" ng-class="{'flipInX': mile.showSocial12, 'flipOutX': !mile.showSocial12}" ng-show="mile.showSocial12">
    <h3 class="padding white-text">Sociaal en kennen</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.socialMilestones12">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.socialMilestones12)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

<div ng-if="mile.showFood12">
  <div class="list animated" ng-class="{'flipInX': mile.showFood12, 'flipOutX': !mile.showFood12}" ng-show="mile.showFood12">
    <h3 class="padding white-text">Voeding en zindelijkheid</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.foodMilestones12">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.foodMilestones12)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

</div>
<div class="dark-bg">

  <div class="item item-divider item-dark">
    12-18 maand
  </div>
  <div class="row">
    <div class="col mileStoneGrid center">
      <a class="" on-tap="mile.setSenses18()"><img src="img/iconSenses18.png">
      </a>
    </div>
    <div class="col mileStoneGrid">
      <a class="" on-tap="mile.setSocial18()"><img src="img/iconSocial18.png">
      </a>
    </div>
    <div class="col mileStoneGrid">
      <a class="" on-tap="mile.setFood18()"><img src="img/iconFood18.png">
      </a>
    </div>
  </div>
  <div ng-if="mile.showSenses18">
    <div class="list animated" ng-class="{'flipInX': mile.showSenses18, 'flipOutX': !mile.showSenses18}" ng-show="mile.showSenses18">
      <h3 class="padding white-text">Motoriek en zintuigen</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.sensesMilestones18">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.sensesMilestones18)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

<div ng-if="mile.showSocial18">
  <div class="list animated" ng-class="{'flipInX': mile.showSocial18, 'flipOutX': !mile.showSocial18}" ng-show="mile.showSocial18">
    <h3 class="padding white-text">Sociaal en kennen</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.socialMilestones18">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.socialMilestones18)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

<div ng-if="mile.showFood18">
  <div class="list animated" ng-class="{'flipInX': mile.showFood18, 'flipOutX': !mile.showFood18}" ng-show="mile.showFood18">
    <h3 class="padding white-text">Voeding en zindelijkheid</h2>
    <li class="item item-text-wrap item-checkbox" ng-repeat="stone in mile.foodMilestones18">
      <label class="checkbox">
        <input ng-change="mile.changeStone(stone, mile.foodMilestones18)" ng-disabled="!checkAdmin()" ng-model="stone.children[mile.child.$id].val" type="checkbox">
      </label>
      {{stone.nl}}
      <h4>
        <span>{{stone.children[mile.child.$id].dateCreated | amCalendar}}</span>
      </h4>
    </li>
  </div>
</div>

</div>
</ion-content>
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Tijdlijn" ui-sref="child.posts"></ion-tab>
  <ion-tab icon-off="ion-ios-body-outline" icon-on="ion-ios-body" title="Profiel" ui-sref="child.profile"></ion-tab>
  <!-- TODO: add badge voor volgverzoeken (via ChirldCtrl) -->
  <ion-tab badge-style="badge-assertive" badge="badges.followRequests" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" ui-sref="child.followers"></ion-tab>
  <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" title="Acties" ui-sref="child.actions"></ion-tab>
</ion-tabs>
</ion-view>
