<ion-view view-title="Noodnummers">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content has-header="true">
<div class="card list">
      <ion-list can-swipe="emergency.checkAdmin()" show-delete="false" show-reorder="false">
        <ion-item ng-if="emergency.emergencyNumbersHard" class="item-thumbnail-left" ng-repeat="num in emergency.emergencyNumbersHard">
          <img ng-src="{{num.thumbnail}}">
          <h2>{{num.name}}</h2>
          <h3><a href="{{num.website}}">{{num.website}}</a></h3>
          <a class="button button-icon-left button-clear button-calm ion-ios-telephone" ng-href="tel:{{num.phone}}"> {{num.phone}}</a>
        </ion-item>
        <ion-item ng-class="{'item-thumbnail-left': num.userId}" ng-if="emergency.emergencyNumbers" ng-repeat="num in emergency.emergencyNumbers">
          <img ng-if="!num.photoInDatabase && num.userId" ng-src="{{num.profileImage}}">
          <img ng-if="num.photoInDatabase" ng-src="data:image/jpeg;base64,{{num.profileImage}}">
          <h2>{{num.name}}</h2>
          <h3>{{num.roleName}}</h3>
          <h3>{{num.email}}</h3>
          <a class="button button-icon-left button-clear button-calm ion-ios-telephone" ng-href="tel:{{num.phone}}"> {{num.phone}}</a>
          <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="emergency.removeEmergency($index)">
            Verwijder
          </ion-option-button>
        </ion-item>

      </ion-list>
      <a class="item item-icon-left item-balanced" ng-if="emergency.checkAdmin()" href on-touch="emergency.addEmergency()">
        <i class="icon ion-ios-plus"></i>
        Noodnummer toevoegen</a>
</div>

  </ion-content>
  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Tijdlijn" ui-sref="child.posts"></ion-tab>
    <ion-tab icon-off="ion-ios-body-outline" icon-on="ion-ios-body" title="Profiel" ui-sref="child.profile"></ion-tab>
    <!-- TODO: add badge voor volgverzoeken (via ChirldCtrl) -->
    <ion-tab ng-if="checkAdmin()" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" badge="badges.followRequests" badge-style="badge-assertive" ui-sref="child.followers"></ion-tab>
    <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" ui-sref="child.followers"></ion-tab>
    <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" title="Acties" ui-sref="child.actions"></ion-tab>
  </ion-tabs>

</ion-view>
