<ion-view view-title="Gebruikers linken">
  <ion-content>

          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input on-touch="register.searchUserLinks()" placeholder="Zoek gebruikers" type="search">
            </label>
          </div>
          <div class="list" ng-if="register.isSearching">

            <a class="item item-avatar" href="#">
              <img src="venkman.jpg">
              <h2>Venkman</h2>
              <p>Back off, man. I'm a scientist.</p>
            </a>

            ...

          </div>
          <h2 class="center">{{register.child.firstName}}
            {{register.child.lastName}}</h2>

          <div class="list">
            <div class="item-divider">
              <h5 class="center">Gelinkte gebruikers</h5>
            </div>
            TODO: link to userprofile
            TODO: mss ook mogelijkheid om rol aan te passen
            <a class="item item-avatar item-button-right" href="#" ng-repeat="user in register.usersLinked | limitTo: 10">
              <img ng-if="app.defaultImage" ng-src="{{app.defaultImage}}">
              <img ng-if="user.profileImage" ng-src="{{user.profileImage}}">
              <h2>{{user.firstName }}
                {{user.lastName}}</h2>
              <p>
                <span class="bold">Rol:
                </span>{{user.role.nl}}</p>
            </a>
          </div>
          <button class="button button-block button-balanced" ng-click="register.registerChild(registerForm)">Registratie voltooien</button>
        
  </ion-content>
</ion-view>
