<ion-view view-title="Profiel">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button-clear button right" ng-if="child.checkAdmin() && !child.write && child.hasFollower" on-tap="child.write = true">Wijzig</button>

  </ion-nav-buttons>
  <ion-content has-header="true">
    <div class="button-bar" ng-if="child.hasFollower">
      <a class="button button-calm" ng-class="{'active': child.getSlideIndex() == 0}" on-tap="child.goToSlide(0)">Algemeen</a>
      <a class="button button-calm" ng-class="{'active': child.getSlideIndex() == 1}" on-tap="child.goToSlide(1)">Goed om weten</a>
    </div>
    <ion-slide-box auto-play="false" does-continue="false" show-pager="false" slide-interval="0">
      <ion-slide>
        <div class="list card animated rotateInDownLeft" ng-show="child.showGeneral">
          <div class="item item-text-wrap item-button-right" ng-if="!child.write">
            <h2>{{child.child.firstName}}
              {{child.child.lastName}}</h2>
            <p >Geboren op
              {{child.child.birthDateTime | amDateFormat: 'dddd D MMMM YYYY'}}
            </p>
            <p ng-if="child.child.birthPlace">
              <i class="fa fa-globe"></i>
              {{child.child.birthPlace}}</p>
            <p ng-if="child.child.birthWeight">
              <i class="fa fa-balance-scale"></i>
              {{child.child.birthWeight}}
              gram
            </p>
            <p ng-if="child.child.birthLength">
              <i class="fa fa-arrows-v"></i>
              {{child.child.birthLength}}
              cm
            </p>
          </div>
          <div class="item item-body" ng-if="child.write">
            <form name="childForm" novalidate="true">
              <div class="list">
                <label class="item item-input animated item-stacked-label" ng-class="{'shake errorForm': (childForm.firstName.$invalid && childForm.firstName.$touched), 'successForm': (childForm.firstName.$valid && childForm.firstName.$dirty)}">
                  <span class="input-label">Voornaam</span>
                  <input name="firstName" ng-model="child.child.firstName" required type="text">
                  <div class="animated zoomIn error-block" ng-if="childForm.firstName.$touched" ng-messages="childForm.firstName.$error" role="alert">
                    <div ng-messages-include="templates/partials/errorMessages.html"></div>
                  </div>
                </label>
                <label class="item item-input animated item-stacked-label" ng-class="{'shake errorForm': (childForm.lastName.$invalid && childForm.lastName.$touched), 'successForm': (childForm.lastName.$valid && childForm.lastName.$dirty)}">
                  <span class="input-label">Familienaam</span>
                  <input name="lastName" ng-model="child.child.lastName" required type="text">
                  <div class="animated zoomIn error-block" ng-if="childForm.lastName.$touched" ng-messages="childForm.lastName.$error" role="alert">
                    <div ng-messages-include="templates/partials/errorMessages.html"></div>
                  </div>
                </label>
                <label class="item item-input animated item-stacked-label" ng-class="{'shake errorForm': (childForm.birthDateChild.$invalid && childForm.birthDateChild.$touched), 'successForm': (childForm.birthDateChild.$valid && childForm.birthDateChild.$dirty)}">
                  <span class="input-label">Geboortedatum</span>
                  <input name="birthDateChild" ng-model="child.birthDate" required type="date">
                  <div class="animated zoomIn error-block" ng-if="childForm.birthDateChild.$touched && childForm.birthDateChild.$error" ng-messages="childForm.birthDateChild.$error" role="alert">
                    <div ng-messages-include="templates/partials/errorMessages.html"></div>
                  </div>
                </label>
                <label class="item item-input animated item-stacked-label" ng-class="{'successForm': childForm.birthPlaceChild.$dirty}">
                  <span class="input-label">Geboorteplaats</span>
                  <input name="birthPlaceChild" ng-model="child.child.birthPlace" type="text">
                </label>
                <label class="item item-input animated item-stacked-label" ng-class="{'successForm': childForm.birthWeightChild.$dirty}">
                  <span class="input-label">Geboortegewicht (in gram)</span>
                  <input name="birthWeightChild" ng-model="child.child.birthWeight" type="number">
                </label>
                <label class="item item-input animated item-stacked-label" ng-class="{'successForm': childForm.birthLengthChild.$dirty}">
                  <span class="input-label">Lengte geboorte (in cm)</span>
                  <input name="birthLengthChild" ng-model="child.child.birthLength" type="number">
                </label>
                <div class="item item-divider">Geslacht</div>
                <ion-radio ng-model="child.child.gender" ng-value="'male'">Jongen</ion-radio>
                <ion-radio ng-model="child.child.gender" ng-value="'female'">Meisje</ion-radio>
              </div>
              <button class="button button-balanced button-block icon-left ion-ios-download" ng-click="child.updateChild(childForm)" ng-disabled="childForm.$invalid">Opslaan</button>

            </form>
          </div>
          <div class="item item-body item-button-right">
            <img class="full-image" ng-if="!child.child.photoInDatabase" ng-src="{{child.child.profileImage}}">
            <img class="full-image" ng-if="child.child.photoInDatabase" ng-src="data:image/jpeg;base64,{{child.child.profileImage}}">
          </div>
          <div class="item item-icon-left" ng-if="!child.hasFollower">
            <button ng-click="child.inviteChild()" ng-if="!child.requestSend" class="button button-block icon-left ion-ios-heart button-balanced">Verzoek om te volgen</button>
            <button ng-click="child.unInviteChild()" ng-if="child.requestSend" class="button button-block icon-left ion-ios-heart button-outline button-balanced">Verzoek verstuurd</button>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left" ng-if="child.hasFollower">
            <a class="tab-item" ng-click="child.choosePhotoInput()" ng-if="child.checkAdmin()">
              <i class="icon ion-camera"></i>
              Profielfoto wijzigen
            </a>
            <a class="tab-item" ui-sref="child.photoAlbums">
              <i class="icon ion-images"></i>
              Alle foto's van
              {{child.child.firstName}}
            </a>
          </div>
          <div class="item item-divider" ng-if="child.hasFollower">
            Meer
          </div>
          <div class="list" ng-if="child.hasFollower">
            <a class="item item-icon-left" ui-sref="child.followers">
              <i class="icon ion-ios-people"></i>
              Volgers</a>
            <a class="item item-icon-left" ui-sref="child.milestones">
              <i class="icon ion-ribbon-b"></i>
              Mijlpalen</a>

            <a class="item item-icon-left assertive" ui-sref="child.emergencyNumbers">
              <i class="icon ion-ios-telephone"></i>
              Noodnummers</a>
          </div>
        </div>

      </ion-slide>
      <ion-slide>
        <div ng-if="child.hasFollower">
          <ion-toggle ng-change="child.setShowAll()" ng-model="child.showAll" toggle-class="toggle-calm">Alles weergeven</ion-toggle>
          <form class="editForm" name="childInfoForm" novalidate="true">
            <div class="list card">
              <div class="item item-divider item-stable" ng-if="child.checkAdmin() || child.child.address || child.child.postalCode || child.child.city" on-double-tap="child.showAddress = !child.showAddress">
                Mijn woonplaats
              </div>
              <label class="item item-input item-stacked-label animated" ng-class="{'successForm': childInfoForm.address.$dirty, 'flipInX': child.showAddress, 'flipOutX': !child.showAddress}" ng-if="child.checkAdmin() || child.child.address" ng-show="child.showAddress">
                <span class="input-label">Adres</span>
                <input name="address" ng-disabled="!child.checkAdmin()" ng-model="child.child.address" placeholder="{{child.child.address}}" type="text">
              </label>
              <label class="item item-input item-stacked-label animated" ng-class="{'shake errorForm': (childInfoForm.postalcode.$invalid && childInfoForm.postalcode.$touched), 'successForm': (childInfoForm.postalcode.$valid && childInfoForm.postalcode.$dirty), 'flipInX': child.showAddress, 'flipOutX': !child.showAddress}" ng-if="child.checkAdmin() || child.child.postalCode" ng-show="child.showAddress">
                <span class="input-label">Postcode</span>
                <input name="postalcode" ng-disabled="!child.checkAdmin()" ng-model="child.child.postalCode" placeholder="{{child.child.postalCode}}" type="number">
                <div class="animated zoomIn error-block" ng-if="childInfoForm.postalcode.$touched" ng-messages="childInfoForm.postalcode.$error" role="alert">
                  <div ng-messages-include="templates/partials/errorMessages.html"></div>
                </div>
              </label>
              <label class="item item-input item-stacked-label animated" ng-class="{'successForm': childInfoForm.city.$dirty, 'flipInX': child.showAddress, 'flipOutX': !child.showAddress}" ng-if="child.checkAdmin() || child.child.city" ng-show="child.showAddress">
                <span class="input-label">Woonplaats</span>
                <input name="city" ng-disabled="!child.checkAdmin()" ng-model="child.child.city" placeholder="{{child.child.city}}" type="text">
              </label>
            </div>
            <button class="button button-balanced button-block icon-left ion-ios-download" ng-click="child.updateChild(childInfoForm)" ng-disabled="childInfoForm.$invalid" ng-if="child.checkAdmin() && childInfoForm.$dirty">Opslaan</button>
          </form>
        </div>

        <div ng-if="child.hasFollower">
          <div class="list card">
            <div class="item item-divider item-stable" ng-if="child.checkAdmin() || child.child.address || child.child.postalCode || child.child.city">
              Mijn familie
            </div>
            <div class="item item-divider item-black" ng-if="child.checkAdmin() || child.child.address || child.child.postalCode || child.child.city" on-double-tap="child.showFamily = !child.showFamily">
              Gezinsleden
            </div>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="item-thumbnail-left animated" ng-class="{flipInX: child.showFamily, flipOutX: !child.showFamily}" ng-repeat="fam in child.userFamilyMembers" ng-show="child.showFamily">
                <img ng-if="!fam.photoInDatabase" ng-src="{{fam.profileImage}}">
                <img ng-if="fam.photoInDatabase" ng-src="data:image/jpeg;base64,{{fam.profileImage}}">
                <h2>{{fam.roleName | capitalize:true}}</h2>
                <h3>{{fam.name}}</h3>
                <p>
                  {{fam.work}}
                </p>
                <p ng-if="fam.phoneWork">
                  <a class="button button-icon-left button-clear button-calm ion-ios-telephone" ng-href="tel:{{fam.phoneWork}}">
                    {{fam.phoneWork}}</a>
                </p>
                <h4>{{fam.extraInfo}}</h4>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeUserFamilyMember($index)">
                  Verwijder
                </ion-option-button>
              </ion-item>

              <ion-item class="item-thumbnail-left animated" ng-class="{flipInX: child.showFamily, flipOutX: !child.showFamily}" ng-repeat="fam in child.staticFamilyMembers" ng-show="child.showFamily">
                <h2>{{fam.roleName | capitalize:true}}</h2>
                <h3>{{fam.name}}</h3>
                <p>
                  {{fam.work}}
                </p>
                <p ng-if="fam.phoneWork">
                  <a class="button button-icon-left button-clear button-calm ion-ios-telephone" ng-href="tel:{{fam.phoneWork}}">
                    {{fam.phoneWork}}</a>
                </p>
                <h4>{{fam.extraInfo}}</h4>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeStaticFamilyMember($index)">
                  Verwijder
                </ion-option-button>
              </ion-item>

            </ion-list>
            <div class="item tabs tabs-secondary tabs-icon-left animated" ng-class="{flipInX: child.showFamily, flipOutX: !child.showFamily}" ng-if="child.checkAdmin()" ng-show="child.showFamily">
              <a class="tab-item balanced" ui-sref="child.family">
                <i class="icon ion-ios-plus balanced"></i>
                Gezinslid toevoegen
              </a>
            </div>
            <div class="item item-divider item-black" ng-if="child.checkAdmin() || child.child.address || child.child.postalCode || child.child.city" on-double-tap="child.showPets = !child.showPets">
              Huisdieren
            </div>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="animated" ng-class="{flipInX: child.showPets, flipOutX: !child.showPets}" ng-repeat="pet in child.pets" ng-show="child.showPets">
                <h2>{{pet.type}}</h2>
                <h3>{{pet.name}}</h3>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removePet(pet)">
                  Verwijder
                </ion-option-button>
              </ion-item>
            </ion-list>
            <div class="item tabs tabs-secondary tabs-icon-left animated" ng-class="{flipInX: child.showPets, flipOutX: !child.showPets}" ng-if="child.checkAdmin()" ng-show="child.showPets">
              <a class="tab-item balanced" on-tap="child.newPet = true">
                <i class="icon ion-ios-plus balanced"></i>
                Huisdier toevoegen
              </a>
            </div>
            <form class="animated" name="addPetForm" ng-class="{slideInDown: child.newPet, slideOutUp: !child.newPet}" ng-if="child.checkAdmin()" ng-show="child.newPet" novalidate="true">
              <label class="item item-input item-stacked-label" ng-class="{'successForm': addPetForm.type.$dirty}">
                <span class="input-label">Type</span>
                <input name="type" ng-model="child.pet.type" placeholder="Hond, kat, kanarie, ..." type="text">
              </label>
              <label class="item item-input item-stacked-label" ng-class="{'successForm': addPetForm.name.$dirty}">
                <span class="input-label">Naam</span>
                <input name="name" ng-model="child.pet.name" placeholder="{{child.pet.name}}" type="text">
              </label>
              <div class="row">
                <div class="col center">
                  <button class="button button-assertive icon-left ion-ios-close" ng-click="child.newPet = false">Annuleer</button>
                </div>
                <div class="col center">
                  <button class="button button-balanced icon-left ion-ios-plus" ng-click="child.addPet(addPetForm)" ng-disabled="addPetForm.$invalid">Opslaan</button>
                </div>
              </div>
            </form>

          </div>

          <div class="list card">
            <div class="item item-divider item-stable" ng-if="child.checkAdmin() || child.child.address || child.child.postalCode || child.child.city">
              Mijn gezondheid
            </div>
            <div class="item item-divider" ng-if="child.checkAdmin()" on-double-tap="child.showDrug = !child.showDrug">
              Medicijnen
            </div>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="animated item-text-wrap" ng-class="{flipInX: child.showDrug, flipOutX: !child.showDrug}" ng-repeat="drug in child.drugs" ng-show="child.showDrug">
                <h2>{{drug.name}}</h2>
                <h3>{{drug.desc}}</h3>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeDrug(drug.$id)">
                  Verwijder
                </ion-option-button>
              </ion-item>
            </ion-list>
            <div class="item tabs tabs-secondary tabs-icon-left animated" ng-class="{flipInX: child.showDrug, flipOutX: !child.showDrug}" ng-if="child.checkAdmin()" ng-show="child.showDrug">
              <a class="tab-item balanced" ng-click="child.newDrug = true">
                <i class="icon ion-ios-plus balanced"></i>
                Medicijn toevoegen
              </a>
            </div>
            <form class="animated" name="addDrugForm" ng-class="{slideInDown: child.newDrug, slideOutUp: !child.newDrug}" ng-if="child.checkAdmin()" ng-show="child.newDrug" novalidate="true">
              <label class="item item-input item-stacked-label" ng-class="{'successForm': addDrugForm.name.$dirty}">
                <span class="input-label">Naam</span>
                <input name="name" ng-model="child.drug.name" placeholder="{{child.drug.name}}" type="text">
              </label>
              <label class="item item-input item-floating-label animated" ng-class="{'successForm': (addDrugForm.desc.$valid && addDrugForm.desc.$dirty)}">
                <span class="input-label">Gebruik</span>
                <textarea name="desc" ng-model="child.drug.desc" placeholder="Gebruik"></textarea>
              </label>
              <div class="row">
                <div class="col center">
                  <button class="button button-assertive icon-left ion-ios-close" ng-click="child.newDrug = false">Annuleer</button>
                </div>
                <div class="col center">
                  <button class="button button-balanced icon-left ion-ios-plus" ng-click="child.addDrug(addDrugForm)" ng-disabled="addDrugForm.$invalid">Opslaan</button>
                </div>
              </div>
            </form>

            <div class="item item-divider" ng-if="child.checkAdmin()" on-double-tap="child.showAllergic = !child.showAllergic">
              Allergieën
            </div>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="animated" ng-class="{flipInX: child.showAllergic, flipOutX: !child.showAllergic}" ng-repeat="all in child.foodAllergics" ng-show="child.showAllergic">
                <h2>{{all.nl}}</h2>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeFoodAllergic(all.$id)">
                  Verwijder
                </ion-option-button>
              </ion-item>
              <div ng-if="child.foodAllergics.length > 0" class="divider">

              </div>
            </ion-list>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="animated" ng-class="{flipInX: child.showAllergic, flipOutX: !child.showAllergic}" ng-repeat="all in child.allergics" ng-show="child.showAllergic">
                <h2>{{all.name}}</h2>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeAllergic(all.$id)">
                  Verwijder
                </ion-option-button>
              </ion-item>
              <div ng-if="child.allergics.length > 0" class="divider">

              </div>
            </ion-list>

            <div class="row">
              <div class="animated item tabs tabs-secondary tabs-icon-left" ng-class="{flipInX: child.showHealthIssue, flipOutX: !child.showHealthIssue}" ng-if="child.checkAdmin()">
                <a class="tab-item balanced" ui-sref="child.foodAllergics">
                  <i class="icon ion-ios-plus balanced"></i>
                  Voedselallergie toevoegen
                </a>
              </div>
            </div>

            <div class="animated item tabs tabs-secondary tabs-icon-left" ng-class="{flipInX: child.showAllergic, flipOutX: !child.showAllergic}" ng-if="child.checkAdmin()" ng-show="child.showAllergic">
              <a class="tab-item balanced" ng-click="child.newAllergic = true">
                <i class="icon ion-ios-plus balanced"></i>
                Andere allergie toevoegen
              </a>
            </div>

            <form class="animated" name="addAllergicForm" ng-class="{slideInDown: child.newAllergic, slideOutUp: !child.newAllergic}" ng-if="child.checkAdmin()" ng-show="child.newAllergic" novalidate="true">

              <label class="item item-input item-stacked-label" ng-class="{'successForm': addAllergicForm.name.$dirty}">
                <span class="input-label">Naam</span>
                <input name="name" ng-model="child.allergic.name" placeholder="{{child.allergic.name}}" type="text">
              </label>
              <div class="row">
                <div class="col center">
                  <button class="button button-assertive icon-left ion-ios-close" ng-click="child.newAllergic = false">Annuleer</button>
                </div>
                <div class="col center">
                  <button class="button button-balanced icon-left ion-ios-plus" ng-click="child.addAllergic(addAllergicForm)" ng-disabled="addAllergicForm.$invalid">Opslaan</button>
                </div>
              </div>

            </form>
            <div class="item item-divider" ng-if="child.checkAdmin()" on-double-tap="child.showHealthIssue = !child.showHealthIssue">
              Andere gezondheidsproblemen
            </div>
            <ion-list can-swipe="child.checkAdmin()" show-delete="false" show-reorder="false">
              <ion-item class="animated item-text-wrap" ng-class="{flipInX: child.showHealthIssue, flipOutX: !child.showHealthIssue}" ng-repeat="issue in child.healthIssues" ng-show="child.showHealthIssue">
                <h2>{{issue.name}}</h2>
                <h3>{{issue.desc}}</h3>
                <ion-option-button class="button-assertive icon-left ion-minus-circled" ng-click="child.removeHealthIssue(issue.$id)">
                  Verwijder
                </ion-option-button>
              </ion-item>
            </ion-list>
            <div class="animated item tabs tabs-secondary tabs-icon-left" ng-class="{flipInX: child.showHealthIssue, flipOutX: !child.showHealthIssue}" ng-if="child.checkAdmin()" ng-show="child.showHealthIssue">
              <a class="tab-item balanced" ng-click="child.newHealthIssue = true">
                <i class="icon ion-ios-plus balanced"></i>
                Probleem toevoegen
              </a>
            </div>
            <form class="animated" name="addHealthIssueForm" ng-class="{slideInDown: child.newHealthIssue, slideOutUp: !child.newHealthIssue}" ng-if="child.checkAdmin()" ng-show="child.newHealthIssue" novalidate="true">
              <label class="item item-input item-stacked-label" ng-class="{'successForm': addHealthIssueForm.name.$dirty}">
                <span class="input-label">Naam</span>
                <input name="name" ng-model="child.drug.name" placeholder="{{child.drug.name}}" type="text">
              </label>
              <label class="item item-input item-floating-label animated" ng-class="{'successForm': (addHealthIssueForm.desc.$valid && addHealthIssueForm.desc.$dirty)}">
                <span class="input-label">Beschrijving</span>
                <textarea name="desc" ng-model="child.drug.desc" placeholder="Beschrijving"></textarea>
              </label>
              <div class="row">
                <div class="col center">
                  <button class="button button-assertive icon-left ion-ios-close" ng-click="child.newHealthIssue = false">Annuleer</button>
                </div>
                <div class="col center">
                  <button class="button button-balanced icon-left ion-ios-plus" ng-click="child.addHealthIssue(addHealthIssueForm)" ng-disabled="addHealthIssueForm.$invalid">Opslaan</button>
                </div>
              </div>
            </form>
            <!-- TODO: 'dingen die ik graag doe' & 'dingen die ik niet graag heb' binnen de categorie 'voorkeuren' -->
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="lowerContent">

    </div>
  </ion-content>
  <!-- TODO: set tabs -->
  <ion-tabs class="tabs-positive tabs-icon-top" ng-if="child.hasFollower">
    <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Tijdlijn" ui-sref="child.posts"></ion-tab>
    <ion-tab icon-off="ion-ios-body-outline" icon-on="ion-ios-body" title="Profiel" ui-sref="child.profile"></ion-tab>
    <!-- TODO: add badge voor volgverzoeken (via ChirldCtrl) -->
    <ion-tab badge-style="badge-assertive" badge="badges.followRequests" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" ui-sref="child.followers"></ion-tab>
    <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" title="Acties" ui-sref="child.actions"></ion-tab>
  </ion-tabs>
</ion-view>
