<ion-view view-title="Volgers">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content has-header="true">
    <div class="list list-inset" ng-if="follow.checkAdmin()">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-change="follow.searchUsers()" ng-model="follow.search" placeholder="Zoek gebruikers" type="search">
      </label>
    </div>

    <ion-list ng-if="follow.checkAdmin()">
    <li class="item" ng-if="follow.search && follow.usersFound.length == 0">
      Geen gebruiker gevonden
    </li>
    <ion-item ng-class="{'item-avatar': usr.profileImage}" class="item-button-right fade-in" ng-repeat="usr in follow.usersFound">

      <img ng-if="!usr.photoInDatabase" ng-src="{{usr.profileImage}}">
      <img ng-if="usr.photoInDatabase" ng-src="data:image/jpeg;base64,{{usr.profileImage}}">
      <h2>{{usr.firstName}} {{usr.lastName}}</h2>

      <button class="button button-calm" ng-if="!usr.isInvited" on-tap="follow.inviteUser(usr, $index)">Uitnodigen</button>
      <button class="button button-calm button-outline" ng-if="usr.isInvited" on-tap="follow.unInviteUser(usr, $index)">Uitgenodigd</button>
    </ion-item>
  </ion-list>

  <div class="card" ng-if="follow.checkAdmin()">
    <div class="item item-divider item-calm">
      Volgverzoeken
    </div>
    <!-- TODO: volgverzoeken aanvaarden -> na het aanmaken van verzoeken via gebruikers -->
    <div class="item item-divider item-stable">
      <h4>Ontvangen</h4>
    </div>
    <ion-list can-swipe="follow.checkAdmin()">
      <div class="item" ng-if="follow.requestedUsers.length == 0">
        Geen aanvragen
      </div>
      <ion-item ng-class="{'item-avatar': usr.profileImage}" class="item-button-right fade-in" ng-repeat="usr in follow.requestedUsers">
        <img ng-if="!usr.photoInDatabase" ng-src="{{usr.profileImage}}">
        <img ng-if="usr.photoInDatabase" ng-src="data:image/jpeg;base64,{{usr.profileImage}}">
        <h2>{{usr.name}}</h2>
        <h3>Relatie:
          {{usr.role.nl}}</h3>
        <ion-option-button class="ion-minus-circled" ng-click="follow.declineInviteUser(usr, $index)"></ion-option-button>
        <ion-option-button class="button button-balanced" on-tap="follow.acceptInvite(usr)">Aanvaarden</ion-option-button>
      </ion-item>
    </ion-list>

    <div class="item item-divider item-stable">
      <h4>Verstuurd</h4>
    </div>
    <ion-list>
      <div class="item" ng-if="follow.invitedUsers.length == 0">
        Geen verstuurd
      </div>
      <ion-item ng-class="{'item-avatar': usr.profileImage}" class="item-button-right fade-in" ng-repeat="usr in follow.invitedUsers">
        <img ng-if="!usr.photoInDatabase" ng-src="{{usr.profileImage}}">
        <img ng-if="usr.photoInDatabase" ng-src="data:image/jpeg;base64,{{usr.profileImage}}">
        <h2>{{usr.name}}</h2>
        <h3>Relatie:
          {{usr.role.nl}}</h3>
        <button class="button button-calm button-outline" on-tap="follow.unInviteUser(usr, $index)">Uitgenodigd</button>
      </ion-item>
    </ion-list>
  </div>
  <div class="card">
    <div class="item item-divider item-calm">
      Volgers
    </div>
    <ion-list can-swipe="true">
      <ion-item ng-if="follow.notOwn(usr)" ng-class="{'item-avatar': usr.profileImage}" class="item-button-right fade-in" ng-repeat="usr in follow.followers">
        <img ng-if="!usr.photoInDatabase" ng-src="{{usr.profileImage}}">
        <img ng-if="usr.photoInDatabase" ng-src="data:image/jpeg;base64,{{usr.profileImage}}">
        <h2>{{usr.firstName}} {{usr.lastName}}</h2>
        <h3>Relatie:
          {{usr.role.nl}}</h3>
        <ion-option-button ng-if="follow.checkAdmin()" class="button-assertive icon ion-trash-a" ng-click="follow.removeFollower(usr, $index)">
        </ion-option-button>
        <ion-option-button class="button-positive icon ion-ios-compose" ng-click="follow.sendMessage(usr)">
        </ion-option-button>
        <!-- TODO misschien later toevoegen visit other userProfiles -->
        <!--<ion-option-button class="button-balanced icon ion-ios-person" ui-sref="app.userProfile({uid: usr.$id})">
        </ion-option-button>-->
      </ion-item>
    </ion-list>
  </div>

</ion-content>
<ion-tabs class="tabs-positive tabs-icon-top">
  <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list" title="Tijdlijn" ui-sref="child.posts"></ion-tab>
  <ion-tab icon-off="ion-ios-body-outline" icon-on="ion-ios-body" title="Profiel" ui-sref="child.profile"></ion-tab>
  <!-- TODO: add badge voor volgverzoeken (via ChirldCtrl) -->
  <ion-tab ng-if="follow.checkAdmin()" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" badge="badges.followRequests" badge-style="badge-assertive" ui-sref="child.followers"></ion-tab>
  <ion-tab icon-off="ion-ios-people-outline" icon-on="ion-ios-people" title="Volgers" ui-sref="child.followers"></ion-tab>
  <ion-tab icon-off="ion-ios-keypad-outline" icon-on="ion-ios-keypad" title="Acties" ui-sref="child.actions"></ion-tab>
</ion-tabs>
</ion-view>
