<span class="error-message" ng-message="required"><i class="ion-sad-outline error-icon"></i>  Dit veld is verplicht</span>
<span class="error-message" ng-message="compareTo"><i class="ion-sad-outline error-icon"></i>  Paswoorden komen niet overeen</span>
<span class="error-message" ng-message="minlength"><i class="ion-sad-outline error-icon"></i>  Ingave is te kort</span>
<span class="error-message" ng-message="maxlength"><i class="ion-sad-outline error-icon"></i>  Ingave is te lang</span>
<span class="error-message" ng-message="email"><i class="ion-sad-outline error-icon"></i>  Geef een geldig emailadres</span>
<span class="error-message" ng-message="number"><i class="ion-sad-outline error-icon"></i>  Geef een nummerieke waarde in</span>
