<ion-view view-title="Zoek">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-change="search.findChild()" ng-model="search.searchField" placeholder="Zoek kinderen" type="search">
      </label>
      <button class="button button-clear" on-click="search.goBack()">
        Cancel
      </button>
    </div>
    <div class="list">
      <!--TODO: ngRepeat van gevonden kinderen -->
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>


</div>
  </ion-content>
</ion-view>
