<ion-view view-title="Zoek">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-change="search.searchChildren()" ng-model="search.search" placeholder="Zoek kinderen" type="search">
      </label>
    </div>


    <ion-list>
    <li class="item" ng-if="search.search && search.childrenFound.length == 0">
      Geen kind gevonden
    </li>
    <ion-item class="fade-in" ng-class="{'item-avatar': child.profileImage}" ng-repeat="child in search.childrenFound" ui-sref="child.profile({childId: child.$id})">
      <img ng-if="!child.photoInDatabase" ng-src="{{child.profileImage}}">
      <img ng-if="child.photoInDatabase" ng-src="data:image/jpeg;base64,{{child.profileImage}}">
      <h2>{{child.firstName}}
        {{child.lastName}}</h2>

    </ion-item>
  </ion-list>
  </ion-content>
</ion-view>
